@import "~bootstrap/scss/bootstrap.scss";
@import "./animations";
@import "./index";
@import "./stars";
@import "./typography";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.buttonMargin {
  margin: 5px;
}

.projectsCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .clickArea {
    cursor: pointer;
  }

  .card-title {
    text-align: center;
  }

  .projectCard {
    margin: 5px;
    @media only screen and (max-width: 630px) {
      width: 80%;
    }

    img {
      width: 100%;
    }
  }
}

.softMargin {
  margin: 0px 5px !important;
}

.project {
  @media only screen and (max-width: 630px) {
    width: 80%;
  }

  .slick-slide {
    img {
      width: 100%;
      margin: auto;
    }
  }
}

.slick-arrow {
  &:before {
    color: black;
  }
}

.nav-item {
  color: #fff !important;

  &:hover {
    color: #e8e8e8 !important;
  }
}

.tags {
  display: flex;
  flex-direction: row-reverse;

  .tag {
    margin: 2px;
    color: white;
    font-style: italic;
    font-size: 11px;
    border-radius: 15px;
    padding: 4px;
  }
}

.backgroundBlue {
  background-color: rgba(31, 101, 206, 0.81);
}

